<div mat-dialog-title>
	Anotación glucosa
</div>

<div mat-dialog-content>
	<mat-form-field class="w-100">
		<mat-label>Glucosa</mat-label>
		<input type="number"
				matInput
				[(ngModel)]="glucoseValue"
				autocomplete="off">
				<span matSuffix>mg/dL</span>
	</mat-form-field>

	<mat-form-field class="w-100">
		<mat-label>Comentarios</mat-label>
		<textarea matInput rows="4" [(ngModel)]="comments"></textarea>
	  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button cdkFocusInitial (click)="openConfirmation()">Guardar</button>
</div>