<div mat-dialog-title>
	<h1>¿Así estaría bien?</h1>
</div>

<div mat-dialog-content class="m-2">
	<div id="preview">
		<img id="img-base" class="w-100" src="../../assets/avatar/neutral.png">

		<ng-container *ngFor="let image of data.selectedItems">
			<img class="previewed-items w-100" *ngIf="image.inUse && !image.value" [src]="image.imageSrc">
		</ng-container>
	</div>

	<h3 *ngIf="data.coinsLeft != null">Te quedarán {{data.coinsLeft}}<img class="coin" src="../../assets/others/miuro.png">
		en tu cuenta.</h3>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]=true>Si</button>
</div>
