#preview
	position: relative
	height: fit-content
	margin: auto
	max-width: 10rem

	#img-base
		position: relative
		z-index: 2
	img.background-item
		z-index: 1
	img.previewed-items:not(.background-item)
		z-index: 3

	img.previewed-items
		position: absolute
		width: 3rem
		margin-left: auto
		margin-right: auto
		left: 0
		right: 0
		text-align: center

h3
	img
		max-width: 1.5rem
		margin-bottom: 0.2rem
