@import '../../_variables'
@import '../../_animations'

.my-custom-container
	height: 100vh
	width: 100%

	.mat-toolbar
		position: relative

		h1
			color: $secondary
			font-weight: bold
			font-size: xx-large

		.go-home
			position: absolute
			left: 1rem
			font-family: $principal-font

	.container
		height: 90%

		.row.my-container
			height: 100%

			.items
				min-height: 55vh
				background-color: whitesmoke
				border-radius: 4px
				max-height: 80vh

				.item-list-container
					height: 100%
					overflow-y: auto
					overflow-x: hidden

					.custom-item-list
						display: flex
						flex-wrap: wrap

						.custom-item
							cursor: pointer

							img
								border-radius: 4px

							img:hover
								border: 3px solid $secondary !important
								background-color: $secondary-light

						.custom-item.selected
							img
								border: 3px solid $secondary !important
								background-color: $secondary-light
								border-radius: 4px

				#save-btn
					width: 100%

			#preview
				position: relative
				height: fit-content
				margin: auto

				#img-base
					z-index: 1
				img.background-item
					z-index: -3

				img.previewed-items
					position: absolute
					width: 3rem
					margin-left: auto
					margin-right: auto
					left: 0
					right: 0
					text-align: center

		@media (max-width: 767px )
			.my-container
				padding-top: 0 !important

			.items
				height: 60% !important
				padding: 1rem !important
				max-height: 50vh !important
				min-height: 0 !important

				.custom-item
					width: 50%
