<div class="modal fade show d-block" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Login</h3>
			</div>
			<div class="modal-body">
				<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
					<div class="form-group">
						<label for="email-login">Email</label>
						<input type="email" formControlName="email" class="form-control" id="email-login"
							placeholder="name@example.com" [class.is-invalid]="email.errors?.pattern || loginErrMsg">

						<small *ngIf="email.errors?.pattern" class="invalid-feedback d-block">El mail no es
							válido</small>
						<small class="invalid-feedback d-block">{{loginErrMsg}}</small>
					</div>
					<div class="form-group">
						<label for="pass-login">Contraseña</label>
						<input type="password" formControlName="password" class="form-control"
							[class.is-invalid]="loginErrMsg" id="pwd-login">
						<small>¿Aún o tienes cuenta? <a routerLink="/signup">Regístrate aquí</a></small>
					</div>

					<div class="options w-100 d-flex">
						<button type="submit" [disabled]="!loginForm.valid" class="btn btn-secondary"
							data-dismiss="modal">Entrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>