<div class="container">
	<div id="title">
		<h1>Sokery</h1>
		<h2>Aprendiendo de la diabetes Tipo I</h2>
	</div>

	<mat-card>
		<div #loginForm *ngIf="isLogin" [@enterAnimation]>
			<mat-card-header>
				<mat-card-subtitle>
					<div id="avatar">
						<img [src]="'../../assets/avatar/' + currentAvatarStatus" alt="Avatar">
					</div>
				</mat-card-subtitle>
				
				<mat-card-title>
					<h1>Login</h1>
				</mat-card-title>
			</mat-card-header>
			
			<mat-card-content>
				<mat-form-field appearance="fill" class="w-100"  color="primary">
					<mat-label>Email</mat-label>
					<input matInput placeholder="pat@ejemplo.com" [formControl]="email" required>
					<mat-error *ngIf="email.invalid || loginErrMsg">{{getErrorMessage()}}</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill" class="w-100" color="primary">
					<mat-label>Contraseña</mat-label>
					<input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" (focus)="changeAvatarStatus()" (blur)="changeAvatarStatus()">
					<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
				</mat-form-field>

				<small *ngIf="loginErrMsg" class="mat-error">{{loginErrMsg}}</small>
				<a mat-button class="w-100" color="primary" (click)="changePage()">¿Aún no tienes cuenta? ¡Regístrate aquí!</a>
			</mat-card-content>


			<mat-card-actions align="center">
				<button mat-stroked-button color="primary" (click)="submitLogin()" [disabled]="!email.valid || !password.valid">ENTRAR</button>
			</mat-card-actions>
		</div>

		<div #signUpForm *ngIf="!isLogin" [@enterAnimation]>
			<mat-card-header>
				<mat-card-title>
					<h1>Registro</h1>
				</mat-card-title>
			</mat-card-header>
			
			<mat-card-content>
				<mat-form-field appearance="fill" class="w-100">
					<mat-label>Nombre</mat-label>
					<input matInput [formControl]="name" required>
				</mat-form-field>

				<mat-form-field appearance="fill" class="w-100"  color="primary">
					<mat-label>Email</mat-label>
					<input matInput placeholder="pat@ejemplo.com" [formControl]="email" required>
					<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
				</mat-form-field>

				<mat-form-field appearance="fill" class="w-100" color="primary">
					<mat-label>Contraseña</mat-label>
					<input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
					<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
				</mat-form-field>
			
				<mat-form-field appearance="fill" class="w-100" color="primary">
					<mat-label>Contraseña</mat-label>
					<input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordConfirmation" required>
					<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
					</button>
				</mat-form-field>

				<a mat-button class="w-100" color="primary" (click)="changePage()">¿Ya tienes cuenta?</a>
			</mat-card-content>


			<mat-card-actions align="center">
				<button mat-stroked-button color="primary" (click)="submitSignUp()">GUARDAR Y ENTRAR</button>
			</mat-card-actions>
		</div>

		
	</mat-card>
</div>