@import "../../../_variables"

.mat-dialog-content
	padding: 1rem

	.row
		padding: 0 3rem

		img.prize
			max-width: 10rem
		h1
			margin: auto 0

		img.avatar
			max-width: 15rem
			border-radius: 100%
			background-color: $secondary
			margin: 1rem
