<div id="timeline">
	<div class="row timeline-popover-container">
		<small>{{info.time}}</small>
		<button mat-mini-fab class="popover-open" color="primary" aria-label="Example icon button with a menu icon"  
			data-container="button"
			[ngbPopover]="popContent"
			[autoClose]="false" 
			triggers="manual" 
			#p="ngbPopover" 
			placement="right"
			(ngInit)="p.open()" 
			popoverClass="my-custom-class"
			[popoverTitle]="info.title">
			<mat-icon>{{info.icon}}</mat-icon>
		  </button>
	</div>
</div>

<ng-template #popContent>
	<p *ngFor="let value of info.values">{{value}}</p>
</ng-template>