<div class="modal fade show d-block" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Nueva cuenta</h3>
			</div>
			<div class="modal-body">
				<form [formGroup]="signupForm" (ngSubmit)="submit()">
					<div class="form-group">
						<label for="name">Nombre</label>
						<input type="text" formControlName="name" class="form-control" id="name" placeholder="name">

					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" formControlName="email" class="form-control" id="email"
							placeholder="name@example.com" [class.is-invalid]="email.errors?.pattern || signupErrMsg"
							(change)="clearEmailMessage()">

						<small *ngIf="email.errors?.pattern" class="invalid-feedback d-block">El mail no es
							válido.</small>
						<small class="invalid-feedback d-block">{{signupErrMsg}}</small>
					</div>
					<div class="form-group">
						<label for="pass-login">Contraseña</label>
						<input type="password" formControlName="password" class="form-control"
							[class.is-invalid]="signupForm.hasError('notSame') || password.errors?.minlength">

						<small *ngIf="password.errors?.minlength" class="invalid-feedback d-block">La contraseña debe
							tener al menos 6 caracteres.</small>
					</div>

					<div class="form-group">
						<label for="pass-login">Confirma la contraseña</label>
						<input type="password" formControlName="confirmPassword" class="form-control"
							[class.is-invalid]="signupForm.hasError('notSame')">
						<small class="invalid-feedback d-block" *ngIf="signupForm.hasError('notSame')">Las
							contraseñas no
							coinciden</small>
					</div>

					<small>Volver al <a routerLink="/login">Login</a></small>

					<div class="options w-100 d-flex">
						<button type="submit" [disabled]="!signupForm.valid" class="btn btn-secondary"
							data-dismiss="modal">Entrar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>