/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Philosopher&family=Poiret+One&display=swap")
@import '_variables'

h1,
h2,
h3,
a
	font-family: $principal-font !important

h4,
h5,
h6,
label,
button
	font-family: $secondary-font !important

button
	outline: none !important

span,
input,
textarea,
p,
small

::-webkit-scrollbar
	width: 8px

::-webkit-scrollbar-track
	border-radius: 10px

::-webkit-scrollbar-thumb
	background: $primary-hover
	border-radius: 10px

body
	width: 100vw
	height: 100vh
	overflow: hidden
	min-width: 450px
	background-color: #8e24aa24

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

.popover
	.popover-header
		background: none !important
		border: 0  !important
		padding: 0  !important
		border-bottom: 1px solid #ccc !important
		margin: .5rem 1rem !important
		font-weight: bold

	.popover-body
		max-height: 5rem
		overflow-y: auto

		p
			font-family: $principal-font !important
