@import '../../_variables'
@import '../../_animations'

#header
	position: fixed
	top: 0
	width: 100%
	padding: 1rem 2rem
	display: flex
	justify-content: space-between

	h1
		color: $secondary-dark
		font-size: xx-large
		font-weight: bold

	#coins
		display: flex

		h2
			color: $secondary-dark
			font-weight: bold

		img
			max-width: 2rem
			max-height: 2rem

div.container
	position: relative

	#avatar
		position: relative
		height: 100vh
		margin: auto
		max-width: 40rem
		width: 100vw
		padding-top: 8rem

		#avatar-notification
			img
				max-width: 10rem
				position: absolute
				right: 0
				cursor: pointer
				z-index: 1000

		img.previewed-items
			position: absolute
			width: 3rem
			margin-left: auto
			margin-right: auto
			left: 0
			right: 0
			text-align: center

		#img-base
			position: relative
			z-index: 2
		img.background-item
			z-index: 1
		img.previewed-items:not(.background-item)
			z-index: 3

#navbar
	width: 100%
	position: fixed
	bottom: 0
	display: flex
	justify-content: center
	background-color: $primary

	button.menu-btn
		color: $primary-light-font

	#annotation-btn.show
		#add-annotation
			animation: ppal-appear .5s forwards

		#annotation-btn-group
			animation: secondary-appear .5s forwards

	#annotation-btn.hide
		#add-annotation
			animation: ppal-disappear .5s forwards

		#annotation-btn-group
			top: 3
			animation: secondary-disappear .5s forwards

	#annotation-btn
		position: relative
		width: 4rem

		#add-annotation
			position: absolute
			width: 4rem
			height: 4rem
			background-color: $secondary

		#annotation-btn-group
			display: flex
			position: absolute
			left: -120%

			button
				margin: .5rem
				background-color: $secondary
				color: $dark-primary

				.btn-name
					color: $dark-primary

			button:not(.btn-center)
				margin-top: 2.5rem
